doctype html
html(lang="ru")
  head
    title Пользователь
  body
    div.container
      h1.mt-4.mb-3 User
      div.card
        div.card-body
          h5.card-title Name: #{user.username}
          p.card-text Email: #{user.email}
          p.card-text ID: #{user.id}